@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat+Alternates');

body {
    font-family: 'Montserrat Alternates', sans-serif;

    background: url('images/bg.png') fixed;
    background-position: center center;
    background-size: auto 100%;
    margin: 0;
    transition: background-image 2s;
    min-width: 415px;
}

.navColors {
    background-color: #A5C2D450; /* #A5C2D440 */
    box-shadow: 0 5px 10px #A6A6A670; /* #FFFFFF90 */
}

.img-h-80 {
    height: 80px;
}

#MainText {
    color: #03BE56;
}

#MainText:hover {
    text-decoration-line: none;
    color: #03BE56;
}

footer {
    bottom: 0px;
    color: #F5F5F550;
}

#audio-player {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: /*inset*/ 0 0 10px #000;
}

.infoBoxes {
    list-style: none;
    font-size: 16px;
}
#infoLeft {
    text-align: left;
}

#infoRight {
    text-align: right;
}

#chat {
    width: 100%;
    height: 400px;
    border: none;
}

.font-exo2 {
    font-family: 'Exo 2', sans-serif;
}

.text-sm {
    font-size: 14px;
}

.text-LogicGreen {
    /* color: #00D75A; */
    color: #03BE56;
}

.text-LogicGreen:hover {
    /* color: #00D75A; */
    color: #03BE56;
}

.filter-invert {
    filter: invert(50%);
}
.img-green {
    filter: hue-rotate(100deg);
}

/* by Yaroslavik */
.playerBox {
    position: relative;
    display: flex;
    margin: auto;
    height: 10em;
}
.player {
    position: relative;
    display: flex;
    flex: none;
    margin: auto;
    width: 10em;
    height: 10em;
    background: url('images/Play.png');
    background-size: 100% 100%;
    transition: 0.2s;
    border-radius: 5em;
}
.pause {
    background: url('images/Pause.png');
    background-size: 100% 100%;
}
.player:hover {
    box-shadow: 0 0 10px #69d84d;
}
.player:active {
    width: 9em;
    height: 9em;
}
.playEffect {
    position: fixed;
    display: flex;
    margin: auto;
    padding: 10px;
    width: 10em;
    height: 10em;
    border-radius: 5em;
    opacity: 0;
    border: solid 20px #69d84d;
}
.startAnimate {
    animation: playRadio 2s linear;
    z-index: 0;
}
.startPauseAnimation {
    animation: playRadio 0.5s linear reverse;
}
@keyframes playRadio {
    0% {
        opacity:0;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(15);
    }
}

.tablePlayer {
    display: flex;
    margin: auto;
}

#vk_comments {
	border-radius: 3px;
	box-shadow: 0 0 10px #000;
}

#slider {
    position: relative;
    z-index: 1;
    width: 210px;
    margin-left: 20px;
    height: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
}

/*Полоса ползунка*/
#slider[type=range] {
  -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
}
/* Специальные правила для браузеров на движках WebKit/Blink */
#slider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  height: 15px;
  width: 15px;
  border-radius: 5em;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
}
/* Тоже самое для Firefox */
#slider[type=range]::-moz-range-thumb {
  border: 1px solid #ccc;
  height: 15px;
  width: 15px;
  border-radius: 5em;
  background: #ffffff;
  cursor: pointer;
}

/* Тоже самое для IE */
#slider[type=range]::-ms-thumb {
  border: 1px solid #ccc;
  height: 15px;
  width: 15px;
  border-radius: 5em;
  background: #ffffff;
  cursor: pointer;
}


/*Полоса диапазона*/

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #eee;
  border-radius: 1.3px;
  border: 0.2px solid #ccc;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #eee;
  border-radius: 1.3px;
  border: 0.2px solid #ccc;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eee;
  border: 0.2px solid #ccc;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #eee;
}
input[type=range]::-ms-fill-upper {
  background: #eee;
  border: 0.2px solid #ccc;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #eee;
}

#item {
    width: 13px;
    height: 13px;
    position: relative;
    top: -5px;
    left: 15px;
    background: #ccc;
    border-radius: 20px;
    border: 1px solid #a4a4a4;
}

